@{
    ViewData["Title"] = "Home Page";
}

<h1><strong>Welcome to Book_Shelf</strong></h1>

<div class="item active">
    <img src="~/images/slika1.jpg" class="img-responsive" />
    <div class="carousel-caption" role="option">
       
    </div>
